.cadastroForm {
    max-width: 100%;
    max-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.labelFoto {
    font-weight: 350;
    font-size: 20px;
    line-height: 17px;
    color: #eeeded;
    margin-bottom: 5px;
}

.inputFoto{
    margin: 0 0 2rem 0;
    color: var(--terceary);
}

.cadastroForm h2 {
    font-size: 3rem;
    color: var(--secundary);
}

.formGroup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 18px;
}

.fotoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.fotoPerfil label,
.fotoPerfil input {
    margin-top: 10px;
}

.formGroup label {
    font-weight: 350;
    font-size: 20px;
    line-height: 17px;
    color: #eeeded;
    margin-bottom: 5px;
}

.formGroup input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px;
    width: 520px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color: var(--terceary);
}

.cadastroForm h2 {
    color: var(--secundary);
    font-size: 30px;
}

.cadastroForm button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 48px;
    background: var(--secundary);
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 1.5rem 0;
}

.cadastroForm button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.cadSalonLink {
    color: var(--secundary);
    font-size: 18px;
    text-decoration: none;
    margin-top: 1rem;
}

.cadSalonLink:hover {
    text-decoration: underline;
}
