/* App.css */

/* Estilo geral da página */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Container que engloba tudo */
.container {
  text-align: center;
  position: relative;
  padding: 20px;
}

/* Estilo para o cabeçalho */
.home-header {
  display: flex;
  justify-content: center; /* Centraliza o texto de boas-vindas */
  align-items: center;
  padding: 20px;
  background-color: #fec200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para o cabeçalho */
  border-radius: 8px; /* Cantos arredondados */
  margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}

/* Texto de boas-vindas */
.welcome-text {
  margin: 0; /* Remova o espaçamento padrão do h1 */
  font-size: 2rem;
  color: #333; /* Cor de texto suave */
}

/* Botão de configurações */
.settings-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #fec200;;
  transition: color 0.3s; /* Animação de transição suave */
}

.settings-button:hover {
  opacity: 0.7; /* Cor de destaque ao passar o mouse */
}

/* Botões principais */
.main-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os botões */
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.main-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #fec200;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; /* Animação de transição suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para os botões */
  border-radius: 8px; /* Cantos arredondados */
  font-family: 'Poppins', sans-serif;
}

.main-button:hover {
  transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra aumentada ao passar o mouse */
}

/* Ícones dentro dos botões */
.main-button .fa-icon {
  margin-bottom: 10px; /* Espaço entre o ícone e o texto */
  font-size: 2rem; /* Tamanho dos ícones */
}
