:root {
  font-family: 'Poppins', sans-serif;
  --cor-de-fundo: #2D343C;
  --secundary: #FEC200;
  --terceary: #EEEDED;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--terceary);
  font-family: var(--font-family);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.settings_button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: var(--secundary);
}

.home_header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.welcome_text {
  margin: 0;
  font-size: 35px;
  color: var(--secundary);
}

.main_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  background-color: var(--secundary);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 200px;
  height: 200px;
}

.main_button:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}

.main_button span {
  margin-left: 10px;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: var(--cor-de-fundo);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  color: var(--terceary);
  text-align: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ConfirmButton,
.CloseButton {
  background-color: var(--secundary);
  color: var(--cor-de-fundo);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.ConfirmButton:hover,
.CloseButton:hover {
  background-color: #d4a300;
}