:root {
  font-family: 'Poppins', sans-serif;
  --cor-de-fundo: #2D343C;
  --secundary: #FEC200;
  --terceary: #EEEDED;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--terceary);
  font-family: var(--font-family);
}

.reservas {
  padding: 20px;
}

.BackButton {
  background: var(--cor-de-fundo);
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
  padding: 10px;
}

h1, h2 {
  color: var(--secundary);
}

.filtros {
  margin-bottom: 20px;
}

.filtro-usuario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Select__control {
  background-color: var(--cor-de-fundo);
  color:  var(--cor-de-fundo);
  border: 1px solid var(--secundary);
}

.lista-reservas {
  margin-top: 20px;
}

.lista-reservas ul {
  list-style-type: none;
  padding: 0;
}

.lista-reservas li {
  background-color: var(--secundary);
  color: var(--cor-de-fundo);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.lista-reservas li.completed {
  background-color: #d4a300;
  text-decoration: line-through;
}

.lista-reservas li input[type="checkbox"] {
  margin-right: 10px;
}
